<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Page specific CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/encryption.css') }}">

    <title>Encryption Methods by JMackDev</title>
</head>
<body>
    <!-- Cracking Modal -->
    <div id="longCrackModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
        </div>
      </div>
    </div>
    <h1 class="header">Encryption Methods</h1>
    <div class="textBoxLabels">
        <h3 id="inputLabel">Input</h3>
        <select id="encryptionMethod" class="codeStyle">
            <option>Please select method...</option>
            <option>Simple Keyword Cipher</option>
            <option>Vigenère Cipher</option>
        </select>
        <h3 id="outputLabel">Output</h3>
    </div>
    <div id="textInputContainer">
        <textarea id="textInput" class="largeTextField codeStyle"
                  onclick="if (this.value === 'Text to be encrypted') this.setSelectionRange(0, this.value.length)">Text to be encrypted</textarea>
        <textarea id="textOutput" class="largeTextField codeStyle"
                  onclick="if (this.value === 'Text to be decrypted') this.setSelectionRange(0, this.value.length)">Text to be decrypted</textarea>
        <button id="encryptButton" class="codeStyle">Encrypt ></button>
        <button id="decryptButton" class="codeStyle">< Decrypt</button>
    </div>
    <div id="ancillaryInputContainer">
    </div>
</body>
<script src="{{ url_for('static', filename='scripts/functionLibrary.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/simpleKeywordCipher.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vigenereCipher.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/encryptionMethods.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/mainHandler.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/wordLists.js') }}"></script>
<!-- jQuery -->
<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</html>